---
typeof: CollectionPage
title: HTML Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including copyright sign, trademark sign and at symbol.
image: http://htmlarrows.com/assets/images/htmlarrows-symbols-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(160, 55, 65);}
<% end %>

<%# Page Header %>
<header id="header" class="row header symbols">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Currency Symbols, Currency Entities and ASCII Currency Character Code Reference</h1><br>
    <p property="description">Need the copyright sign HTML code? Or the degrees Celsius HTML entity? Scroll on for dingbats, circled numbers, script letter HTML codes, the angstrom sign, biohazard sign, alef symbol, HTML checkmark entity and even a heavy black heart. And take a minute to browse our wonderful collection of <%= link_to "&#9813; web design resources", "/resources/" %> where you'll discover handpicked WordPress themes, vector icons, flat UI kits, website hosts and so much more.</p>
  </div>

  <div class="col-xs-24 col-md-9 show-md">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_0'></script>
    <!-- <a href="//www.bluehost.com/track/amdixon/htmlarrows" target="_blank">
      <%= image_tag("bh-ppc-banners-dynamic-300x250.png") %>
    </a> -->
  </div>

</header>

<%# Page Content %>
<section id="index" class="row grid symbols">

	<%= partial("partials/table") %>

	<% data.symbols.entities.take(24).each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

  <div class="col-sm-24 text-sm-center show-sm" style="margin:2.25em 0;">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_3'></script>
  </div>

  <% data.symbols.entities.drop(24).each do |entity| %>
    <%= partial("partials/entity_index", :locals => { :entity => entity }) %>
  <% end %>

</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-12">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Symbols", "http://htmlarrows.com/symbols/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>