<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://htmlarrows.com/">
    <%= yield_content :meta %>
    
    <!-- CSS Assets -->
    <%= stylesheet_link_tag "all" %>

    <!-- CSS Custom -->
    <style><%= yield_content :stylesheets %></style>

    <!-- Favicons -->
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/assets/images/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="/path/to/favicon.ico"><![endif]-->

    <!-- Google Webmaster Tools -->
    <meta name="google-site-verification" content="d3w5QeEYpedf2k8Lrac0VGOxvPExn466x-H-_JyWQb4" />

    <!-- Google Knowledge Graph -->
    <script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "WebSite",
       "url" : "http://htmlarrows.com/",
       "name" : "HTML Arrows",
       "logo" : "http://htmlarrows.com<%= image_path('htmlarrows-logo.png') %>",
       "image" : "http://htmlarrows.com<%= image_path('htmlarrows-hero.jpg') %>",
       "copyrightHolder" : "Zeppelin Design, LLC",
       "copyrightYear" : "2015",
       "description" : "The most beautiful HTML arrows, currency and copyright symbols you will ever see, plus all those other pesky ASCII and HEX codes you can never remember.",
       "creator" : [
        { "@type" : "Organization",
          "url" : "http://zeppelin.io/",
          "name" : "Zeppelin",
          "logo" : "http://htmlarrows.com<%= image_path('zeppelin-logo.svg') %>",
          "contactPoint" : [
          { "@type" : "ContactPoint",
            "url" : "http://zeppelin.io/",
            "email" : "alex@zeppelin.io",
            "contactType" : "customer service"
          } ]
        } ]
    }
    </script>
  </head>
  
  <body vocab="http://schema.org/" typeof="<%= current_page.data.typeof %>" class="<%= page_classes %>">
    <meta property="url" content="http://htmlarrows.com<%= current_page.url %>">

    <%# Header %>
    <%= partial "partials/header" %>

    <%# Main %>
    <article id="main" class="animate fade" property="mainContentOfPage" typeof="WebPageElement">

      <%# Mobile Overlay %>
      <div class="nav-overlay"></div>

      <%# Mobile Header %>
      <header id="nav-mobile" class="row hide-md header">
        <div class="col-xs-24">
          <h2 property="name"><% link_to "/", property: "url" do %>HTML &nbsp;<span class="logo">&#8594;</span><% end %></h2>
          <a id="nav-open-button" class="nav-button hide-md"><span></span></a>
        </div>
      </header>

      <%# Search Results %>
      <section class="results">
      </section>

      <%# Content %>
      <%= yield %>


      <%# Footer %>
      <%= partial "partials/footer" %>

    </article>

    <!-- JS Body Assets -->
    <%= javascript_include_tag "body" %>

    <!-- Google Anlaytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62225405-1', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

    </script>
  </body>
</html>