<% if entity.oversize == "false" %>
	<div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xl-2 entity" vocab="http://schema.org/" typeof="Code">
		<div class="name">
			<h5 property="name"><%= entity.name %></h5>
		</div>

		<div class="symbol" title="<%= entity.name %>">
			<% link_to "#{current_page.url}#{entity.tags[0].name}/#{entity.slug}/" do %>
				&<%= entity.html_code %>
			<% end %>
		</div>

		<div class="codes">
			<code id="unicode" class="selectable" title="Unicode" property="sampleType"><%= entity.unicode %></code>
			<code id="hex-code" class="selectable" title="Hex Code" property="sampleType">&amp;<%= entity.hex_code %></code>
			<code id="html-code" class="selectable" title="HTML Code" property="sampleType">&amp;<%= entity.html_code %></code>
			<% if entity.html_entity.blank? %>
				<code id="html-entity" class="selectable" title="HTML Code">&nbsp;</code>
			<% else %>
				<code id="html-entity" class="selectable" title="HTML Code" property="sampleType">&amp;<%= entity.html_entity %></code>
			<% end %>
			<code id="css-code" class="selectable" title="CSS Content Code" property="sampleType">&#92;<%= entity.unicode.split("U+0").last %></code>
		</div>
	</div>
<% else %>
	<div class="col-xs-16 col-sm-12 col-md-8 col-lg-6 col-xl-4 entity" vocab="http://schema.org/" typeof="Code">
		<div class="name">
			<h5 property="name"><%= entity.name %></h5>
		</div>

		<div class="symbol" title="<%= entity.name %>">
			<% link_to "#{current_page.url}#{entity.tags[0].name}/#{entity.slug}/" do %>
				&<%= entity.html_code %>
			<% end %>
		</div>

		<div class="codes">
			<code id="unicode" class="selectable" title="Unicode" property="sampleType"><%= entity.unicode %></code>
			<code id="hex-code" class="selectable" title="Hex Code" property="sampleType">&amp;<%= entity.hex_code %></code>
			<code id="html-code" class="selectable" title="HTML Code" property="sampleType">&amp;<%= entity.html_code %></code>
			<% if entity.html_entity.blank? %>
				<code id="html-entity" class="selectable" title="HTML Code">&nbsp;</code>
			<% else %>
				<code id="html-entity" class="selectable" title="HTML Code" property="sampleType">&amp;<%= entity.html_entity %></code>
			<% end %>
			<code id="css-code" class="selectable" title="CSS Content Code" property="sampleType">&#92;<%= entity.unicode.split("U+0").last %></code>
		</div>
	</div>
<% end %>