<div class="col-xs-20 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-3">
	<div class="name">
		<h1 property="name"><%= entity.name %></h1>
		<div class="symbol small">
			&<%= entity.html_code %>
		</div>
	</div>

	<div class="codes">
		<h4 class="type">UNICODE</h4><code class="selectable" property="sampleType"><%= entity.unicode %></code><br>
		<h4 class="type">HEX CODE</h4><code class="selectable" property="sampleType">&amp;<%= entity.hex_code %></code><br>
		<h4 class="type">HTML CODE</h4><code class="selectable" property="sampleType">&amp;<%= entity.html_code %></code><br>
		<% if entity.html4_entity.blank? %>
			<h4 class="type">HTML4 ENTITY</h4><code property="sampleType">&mdash;</code><br>
		<% else %>
			<h4 class="type">HTML4 ENTITY</h4><code class="selectable" property="sampleType">&amp;<%= entity.html4_entity %></code><br>
		<% end %>
		<% if entity.html5_entity.blank? %>
			<h4 class="type">HTML5 ENTITY</h4><code property="sampleType">&mdash;</code><br>
		<% else %>
			<h4 class="type">HTML5 ENTITY</h4><code class="selectable" property="sampleType">&amp;<%= entity.html5_entity %></code><br>
		<% end %>
	</div>
</div>

<div class="col-xs-24 col-sm-16 col-md-12 show-sm" style="margin-top:-7.5em;padding:3em;">
	<span id="symbol" class="symbol large">
		&<%= entity.html_code %>
	</span>
</div>