<footer id="footer">
	<section class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-0 col-lg-3 credit">
			<h5>DESIGNED BY</h5>
			<h2><%= link_to "Zeppelin", "http://zeppelin.io/" %></h2>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 social">
			<h5>SHARE THE <span style="font-weight:700;text-transform:lowercase;">&amp;love;</span></h5>
			<% link_to "https://twitter.com/share?text=Beautiful%20HTML%20symbols%2C%20characters%2C%20entities%20and%20codes%20by%20@zeppelin_io%20%23htmlarrows%20%23useful", id: "twitter", class: "social-link", target: "_blank" do %>
				<%= image_tag("twitter-button.svg") %>
			<% end %>
			<% link_to "http://www.facebook.com/sharer/sharer.php?u=http://htmlarrows.com#{current_page.url}", id: "facebook", class: "social-link", target: "_blank" do %>
				<%= image_tag("facebook-button.svg") %>
			<% end %>
			<% link_to "https://plus.google.com/share?url=http://htmlarrows.com#{current_page.url}", id: "google", class: "social-link", target: "_blank" do %>
				<%= image_tag("google-button.svg") %>
			<% end %>
			<% link_to "http://vkontakte.ru/share.php?url=http://htmlarrows.com#{current_page.url}", id: "google", class: "social-link", target: "_blank" do %>
			  <%= image_tag("vkontakte-button.svg") %>
			<% end %>
		</div>

		<div class="col-xs-24 col-sm-12 col-md-8 col-lg-12 breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
			<h5>SITEMAP</h5>
			<h6>
				<%= yield_content :breadcrumbs %>
			</h6>
		</div>

		<div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-0 col-lg-3 contact">
			<h5>CONTACT</h5>
			<h6>
				<%= link_to "TWITTER", "http://twitter.com/@zeppelin_io" %>
			</h6>
			<h6>
				<%= link_to "EMAIL", "mailto:alex@zeppelin.io" %>
			</h6>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 copyright">
			<h5>&copy; 2015</h5>
		</div>

	</section>

	<section class="row">
		<div class="col-xs-24 break">
			<div style="border-top: 1px solid rgb(135, 135, 135)"></div>
		</div>
	</section>
	
	<section class="row">

		<div class="col-xs-24 col-sm-12 col-md-12 col-lg-10 about">
			<h5>ABOUT</h5>
			<p>
				Why HTML Arrows? Because we wanted a clean and colorful place for all the html symbol codes we could never seem to remember. If you like the site or have a suggestion, drop us a line at <%= link_to "alex@zeppelin.io", "mailto:alex@zeppelin.io" %>. Feedback is always welcome and much appreciated!
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 col-lg-offset-2 colophon">
			<h5>COLOPHON</h5>
			<h6><%= link_to "Helvetica", "http://en.wikipedia.org/wiki/Helvetica" %></h6>
			<h6><%= link_to "Headroom.js", "http://wicky.nillia.ms/headroom.js/" %></h6>
			<h6><%= link_to "FastClick.js", "https://github.com/ftlabs/fastclick/" %></h6>
			<h6><%= link_to "Middleman", "https://middlemanapp.com/" %></h6>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-8 col-lg-6 inspiration">
			<h5>INSPIRATION</h5>
			<h6><%= link_to "Colorful Swiss Posters", "https://www.google.com/search?&tbm=isch&source=hp&q=colorful+swiss+posters" %></h6>
			<h6><%= link_to "Jquery-BigText.js", "https://github.com/DanielHoffmann/jquery-bigtext/" %></h6>
			<h6><%= link_to "Codrops", "http://tympanus.net/codrops/2013/08/28/transitions-for-off-canvas-navigations/" %></h6>
		</div>

	</section>

</footer>