<nav id="nav" class="nav-right" vocab="http://schema.org/" typeof="SiteNavigationElement">
	<ul class="row">

		<li class="col-md-3 show-md">
			<h2 property="name"><% link_to "/", property: "url" do %>HTML&nbsp;&nbsp;<span style="font-size:27px;line-height:0;">&#8594;</span><% end %></h2>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.25em">by Zeppelin</span>
		</li>

		<li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">&#8594;</span><%= active_link "Arrows", "/arrows/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">&#8593;&#8594;</span>
		</li>

		<li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">&#36;</span><%= active_link "Currency", "/currency/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">&#36;&#162;</span>
		</li>

		<li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">Aa</span><%= active_link "Letters", "/letters/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">Aa</span>
		</li>

		<li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">Aa</span><%= active_link "Numbers", "/numbers/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">1&#190;</span>
		</li>

		<li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">&#37;</span><%= active_link "Operators", "/operators/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">&#37;&#43;</span>
		</li>

		<li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">&#33;</span><%= active_link "Punctuation", "/punctuation/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">&#38;&#8212;</span>
		</li>

		<li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">&#169;</span><%= active_link "Symbols", "/symbols/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">&#169;&#8482;</span>
		</li>

		<!-- <li class="col-md-3">
			<h3 property="name"><span class="hide-md" style="display:inline-block;padding-right:0.5em;width:2em;text-align:center;">&#63;</span><%= active_link "&wtf;", "/andwtf/", property: "url" %></h3>
			<span class="show-md" style="font-size:12px;color:#888;display:block;margin-top:-0.125em">&#63;&#63;</span>
		</li> -->

	</ul>
</nav>