---
typeof: CollectionPage
title: HTML Number Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML number symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including integers, fractions, Roman numerals and more.
image: http://htmlarrows.com/assets/images/htmlarrows-numbers-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(100, 55, 65);}
<% end %>

<%# Page Header %>
<header id="header" class="row header numbers">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Number Symbols, Number Entities and ASCII Number Character Code Reference</h1><br>
    <p property="description">Browse every HTML number symbol from 0 &ndash; 9 and get HTML and ASCII vulgar fraction character codes for one third, five eighths and others. When in Rome use Roman Numeral entities including the one hundred and five hundred Roman Numeral symbols. And if you're bored feel free to indulge in some delicious <%= link_to "&#9813; web design resources", "/resources/" %> overflowing with vector icons, WordPress themes, website hosts, free UI kits and more.</p>
  </div>

  <div class="col-xs-24 col-md-9 show-md">
    <!-- <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_0'></script> -->
    <!-- <a href="//www.bluehost.com/track/amdixon/htmlarrows" target="_blank">
      <%= image_tag("bh-ppc-banners-dynamic-300x250.png") %>
    </a> -->
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=htmlarrowscom" id="_carbonads_js"></script>
  </div>

</header>

<%# Page Content %>
<section id="index" class="row grid numbers">

	<%= partial("partials/table") %>

	<% data.numbers.entities.take(24).each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

  <!-- <div class="col-sm-24 text-sm-center show-sm" style="margin:2.25em 0;">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_3'></script>
  </div> -->

  <% data.numbers.entities.drop(24).each do |entity| %>
    <%= partial("partials/entity_index", :locals => { :entity => entity }) %>
  <% end %>

</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Number Symbols, Entities, Characters, and Codes</h1>
  </div>
  <div class="col-xs-24 col-md-12">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section> 

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Numbers", "http://htmlarrows.com/numbers/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>