---
typeof: CollectionPage
title: HTML Math Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML math symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including plus sign, minus sign, times and divide signs.
image: http://htmlarrows.com/assets/images/htmlarrows-math-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(70, 55, 65);}
<% end %>

<%# Page Header %>
<header id="header" class="row header math">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Math Symbols, Math Entities and ASCII Math Character Code Reference</h1><br>
    <p property="description">Doing some math? It's not so hard with an HTML plus sign or minus sign. More complex operations? Get HTML symbols and ASCII characetrs for multiplication and division signs, greater than and less than signs, equals sign, not equal sign and more.Definitely check out our <%= link_to "&#9813; web design resources", "/resources/" %> to stock up on awesome website hosting,  WordPress templates and themes, vector icons, UI kits, free stock images and more!</p>
  </div>

  <div class="col-xs-24 col-md-9 show-md">
    <!-- <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_0'></script> -->
    <!-- <a href="//www.bluehost.com/track/amdixon/htmlarrows" target="_blank">
      <%= image_tag("bh-ppc-banners-dynamic-300x250.png") %>
    </a> -->
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=htmlarrowscom" id="_carbonads_js"></script>
  </div>

</header>

<%# Page Content %>
<section id="index" class="row grid math">

	<%= partial("partials/table") %>

	<% data.math.entities.take(24).each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

  <!-- <div class="col-sm-24 text-sm-center show-sm" style="margin:2.25em 0;">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_3'></script>
  </div> -->

  <% data.math.entities.drop(24).each do |entity| %>
    <%= partial("partials/entity_index", :locals => { :entity => entity }) %>
  <% end %>

</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-12">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Math", "http://htmlarrows.com/math/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>