---
typeof: CollectionPage
title: HTML Math Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML math symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including plus sign, minus sign, times and divide signs.
image: http://htmlarrows.com/assets/images/htmlarrows-math-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(70, 55, 65);}
<% end %>

<%# Page Content %>
<section id="index" class="row grid math">

	<%= partial("partials/table") %>

	<% data.math.entities.each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Math Symbols, Entities, Characters, and Codes</h1>
  </div>
  <div class="col-xs-24 col-md-9 text-md-right">
    <% link_to "https://twitter.com/share?text=Beautiful%20HTML%20symbols%2C%20characters%2C%20entities%20and%20codes%20by%20@zeppelin_io%20%23htmlarrows%20%23useful", id: "twitter", class: "social-link", target: "_blank" do %>
      <%= image_tag("twitter-button-light.svg") %>
    <% end %>
    <% link_to "http://www.facebook.com/sharer/sharer.php?u=http://htmlarrows.com#{current_page.url}", id: "facebook", class: "social-link", target: "_blank" do %>
      <%= image_tag("facebook-button-light.svg") %>
    <% end %>
    <% link_to "https://plus.google.com/share?url=http://htmlarrows.com#{current_page.url}", id: "google", class: "social-link", target: "_blank" do %>
      <%= image_tag("google-button-light.svg") %>
    <% end %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p property="description">HTML, ASCII, CSS and Unicode hexadecimal values for HTML math characters and symbols in grid and table layouts. With codes for the plus sign, minus sign, multiplication sign, division sign and greater than and less than signs, and more.</p>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@zeppelin.io", "mailto:alex@zeppelin.io", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Math", "http://htmlarrows.com/math/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>