---
typeof: CollectionPage
title: HTML Letter Symbols, Entities and Codes — HTML Arrows
description: The most beautiful HTML letter symbols you will ever see, including uppercase, lowercase, accents and diacritic HTML codes, plus a panoply of others.
image: 
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(55, 60, 65);}
<% end %>

<%# Page Content %>
<section id="index" class="row grid letters">

	<%= partial("partials/table") %>

	<% data.letters.entities.each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Letters", "/letters/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>