---
typeof: CollectionPage
title: HTML Letter Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML currency symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including Latin, Greek, German, Spanish and more.
image: http://htmlarrows.com/assets/images/htmlarrows-letters-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(55, 60, 65);}
<% end %>

<%# Page Content %>
<section id="index" class="row grid letters">

	<%= partial("partials/table") %>

	<% data.letters.entities.each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Letter Symbols, Entities, Characters, and Codes</h1>
  </div>
  <div class="col-xs-24 col-md-9 text-md-right">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p property="description">HTML, ASCII, CSS and Unicode hexadecimal values for HTML letter characters and symbols in grid and table layouts. Including uppercase and lowercase Latin alphabets, Diacritics and Czech, French, German, Greek, Polish, Turkish and more.</p>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Letters", "http://htmlarrows.com/letters/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>