<!-- Metadata -->
<title><%= paper.name %> Marbled Paper &mdash; The Marbler's Apprentice</title>
<meta name="title" content="<%= paper.name %> Marbled Paper &mdash; The Marbler's Apprentice">
<meta name="description" content="<%= paper.description %>">

<!-- Facebook -->
<meta property="og:site_name" content="The Marbler's Apprentice">
<meta property="og:type" content="article">
<meta property="og:url" content="http://marblersapprentice.com<%= current_page.url %>">
<meta property="og:title" content="<%= paper.name %> Marbled Paper &mdash; The Marbler's Apprentice">
<meta property="og:description" content="<%= paper.description %>">
<meta property="og:image" content="<%= paper.media.first.original %>">

<!-- Twitter -->
<meta name="twitter:site" content="@marblersapprentice">
<meta name="twitter:domain" content="marblersapprentice.com">
<meta name="twitter:card" content="photo">
<meta name="twitter:url" content="http://marblersapprentice.com<%= current_page.url %>">
<meta name="twitter:title" content="<%= paper.name %> Marbled Paper &mdash; The Marbler's Apprentice">
<meta name="twitter:description" content="<%= paper.description %>">
<meta name="twitter:image" content="<%= paper.media.first.original %>">