<!-- Metadata -->
<title><%= entity.name %> HTML Symbol and Codes &mdash; HTML Arrows</title>
<meta name="title" content="<%= entity.name %> HTML Symbol, Entity and Codes &mdash; HTML Arrows">
<meta name="description" content="HTML <%= entity.name %> symbol, entity, ASCII and Hex codes. Plus a panoply of other symbols including arrows, currency, copyright and more.">

<!-- Facebook -->
<meta property="og:site_name" content="HTML Arrows">
<meta property="og:type" content="article">
<meta property="og:url" content="http://htmlarrows.com<%= current_page.url %>">
<meta property="og:title" content="<%= entity.name %> HTML Symbol, Entity and Codes &mdash; HTML Arrows">
<meta property="og:description" content="HTML <%= entity.name %> symbol, entity, ASCII and Hex codes. Plus a panoply of other symbols including arrows, currency, copyright and more.">
<meta property="og:image" content="http://htmlarrows.com<%= image_path('htmlarrows-hero.jpg') %>">

<!-- Twitter -->
<meta name="twitter:site" content="@htmlarrows">
<meta name="twitter:domain" content="htmlarrows.com">
<meta name="twitter:card" content="photo">
<meta name="twitter:url" content="http://htmlarrows.com<%= current_page.url %>">
<meta name="twitter:title" content="<%= entity.name %> HTML Symbol, Entity and Codes &mdash; HTML Arrows">
<meta name="twitter:description" content="HTML <%= entity.name %> symbol, entity, ASCII and Hex codes. Plus a panoply of other symbols including arrows, currency, copyright and more.">
<meta name="twitter:image" content="http://htmlarrows.com<%= image_path('htmlarrows-hero.jpg') %>">