<!-- Metadata -->
<title><%= entity.name %> HTML Symbol, Character and Entity Codes</title>
<meta name="title" content="<%= entity.name %> HTML Symbol, Character and Entity Codes &mdash; HTML Arrows">
<meta name="description" content="HTML symbol, character and entity codes, ASCII, CSS and HEX values for <%= entity.name %>, plus a panoply of others.">

<!-- Facebook -->
<meta property="og:site_name" content="HTML Arrows">
<meta property="og:type" content="article">
<meta property="og:url" content="http://htmlarrows.com<%= current_page.url %>">
<meta property="og:title" content="<%= entity.name %> HTML Symbol, Character and Entity Codes &mdash; HTML Arrows">
<meta property="og:description" content="HTML symbol, character and entity codes, ASCII, CSS and HEX values for <%= entity.name %>, plus a panoply of others.">
<meta property="og:image" content="http://htmlarrows.com<%= image_path('htmlarrows-hero.jpg') %>">

<!-- Twitter -->
<meta name="twitter:site" content="@htmlarrows">
<meta name="twitter:domain" content="htmlarrows.com">
<meta name="twitter:card" content="photo">
<meta name="twitter:url" content="http://htmlarrows.com<%= current_page.url %>">
<meta name="twitter:title" content="<%= entity.name %> HTML Symbol, Character and Entity Codes &mdash; HTML Arrows">
<meta name="twitter:description" content="HTML symbol, character and entity codes, ASCII, CSS and HEX values for <%= entity.name %>, plus a panoply of others.">
<meta name="twitter:image" content="http://htmlarrows.com<%= image_path('htmlarrows-hero.jpg') %>">