<!-- Metadata -->
<title><%= entity.name %> &mdash; HTML Arrows</title>
<meta name="title" content="<%= entity.name %> &mdash; HTML Arrows">
<meta name="description" content="<%= current_page.data.description %>">

<!-- Facebook -->
<meta property="og:site_name" content="HTML Arrows">
<meta property="og:type" content="article">
<meta property="og:url" content="http://htmlarrows.com<%= current_page.url %>">
<meta property="og:title" content="<%= entity.name %> &mdash; HTML Arrows">
<meta property="og:description" content="<%= current_page.data.description %>">
<meta property="og:image" content="">

<!-- Twitter -->
<meta name="twitter:site" content="@htmlarrows">
<meta name="twitter:domain" content="htmlarrows.com">
<meta name="twitter:card" content="photo">
<meta name="twitter:url" content="http://htmlarrows.com<%= current_page.url %>">
<meta name="twitter:title" content="<%= entity.name %> &mdash; HTML Arrows">
<meta name="twitter:description" content="<%= current_page.data.description %>">
<meta name="twitter:image" content="">