---
typeof: CollectionPage
title: HTML Arrow Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML arrow symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including right arrow, left arrow, up and down arrows.
image: htmlarrows-arrows-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("meta/meta_index") %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(75, 95, 95);}
<% end %>

<%# Page Header %>
<header id="header" class="row header arrows">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Arrow Symbol, Arrow Entity and ASCII Arrow Character Code Reference</h1><br>
    <p property="description">Here you'll find HTML arrow codes, arrow characters and entities, ASCII arrow codes and Unicode arrows. We've got all your favorites incluing left and right arrow HTML codes, up arrow, down arrow, ordinal arrows, and left and right double arrow HTML symbols. And don't forget to check out our hot and fresh <%= link_to "&#9813; web design resources", "/resources/" %> where you can find WordPress templates, our favorite web hosts, vector icons and more!</p>
  </div>

  <div class="col-xs-24 col-md-9 show-md">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_0'></script>
    <!-- <a href="//www.bluehost.com/track/amdixon/htmlarrows" target="_blank">
      <%= image_tag("bh-ppc-banners-dynamic-300x250.png") %>
    </a> -->
  </div>

</header>

<%# Page Content %>
<section id="index" class="row grid arrows">

	<%= partial("partials/table") %>

	<% data.arrows.entities.take(24).each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

  <div class="col-sm-24 text-sm-center show-sm" style="margin-top:3em;">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_3'></script>
  </div>

  <% data.arrows.entities.drop(24).each do |entity| %>
    <%= partial("partials/entity_index", :locals => { :entity => entity }) %>
  <% end %>
	
</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-12">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Arrows", "http://htmlarrows.com/arrows/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>