---
typeof: ItemPage
image: http://htmlarrows.com/assets/images/htmlarrows-arrows-hero.jpg
changefreq: "monthly"
priority: 0.5
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("meta/meta_entity", :locals => { :entity => entity }) %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(75, 95, 95);}
<% end %>

<%# Page Content %>
<section class="row template arrows" vocab="http://schema.org/" typeof="Code">
	<%= partial("partials/entity", :locals => { :entity => entity }) %>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Arrows", "http://htmlarrows.com/arrows/", rel: "v:url", property: "v:title" %> &#8250;
      <span rel="v:child" typeof="v:Breadcrumb">
      	<%= link_to "#{entity.name}", "http://htmlarrows.com/arrows/#{entity.slug}/", rel: "v:url", property: "v:title" %>
      </span>
    </span>
  </span>
<% end %>