---
typeof: CollectionPage
title: HTML Punctuation Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML punctuation symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including ampersand, percent and number signs.
image: http://htmlarrows.com/assets/images/htmlarrows-punctuation-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(130, 55, 65);}
<% end %>

<%# Page Header %>
<header id="header" class="row header punctuation">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Punctuation Symbols, Punctuation Entities and ASCII Character Code Reference</h1><br>
    <p property="description">Easily find character codes for the HTML # sign, HTML @ symbol (at symbol), HTML percent sign, HTML ampersand (&amp;amp HTML code), HTML copyright symbol and HTML caret insertion point, along with regulars like the question mark, exclamation point, non-breaking hyphen, non-breaking space and more. Don't forget to browse our curated list of <%= link_to "&#9813; web design resources", "/resources/" %> including website hosts, themes, icons, stock photos and many other creative gems.</p>
  </div>

  <div class="col-xs-24 col-md-9 show-md">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_0'></script>
    <!-- <a href="//www.bluehost.com/track/amdixon/htmlarrows" target="_blank">
      <%= image_tag("bh-ppc-banners-dynamic-300x250.png") %>
    </a> -->
  </div>

</header>

<%# Page Content %>
<section id="index" class="row grid punctuation">

	<%= partial("partials/table") %>

	<% data.punctuation.entities.take(24).each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

  <div class="col-sm-24 text-sm-center show-sm" style="margin:2.25em 0;">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_3'></script>
  </div>

  <% data.punctuation.entities.drop(24).each do |entity| %>
    <%= partial("partials/entity_index", :locals => { :entity => entity }) %>
  <% end %>

</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-12">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Punctuation", "http://htmlarrows.com/punctuation/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>