---
typeof: CollectionPage
title: HTML Punctuation Symbols, Entities and Codes — HTML Arrows
description: The most beautiful HTML punctuation symbol codes and ASCII characters you will ever see, plus all those other HTML, ASCII and HEX codes you can never remember.
image: 
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(205, 45, 45);}
<% end %>

<%# Page Content %>
<section class="row index punctuation">

	<%= partial("partials/table") %>

	<% data.punctuation.entities.each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Punctuation", "/punctuation/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>