---
typeof: CollectionPage
title: HTML Currency Symbols, Entities and Codes — HTML Arrows
description: Easily find HTML currency symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values; including dollar sign, euro, pound and yen signs.
image: http://htmlarrows.com/assets/images/htmlarrows-currency-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("meta/meta_index") %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(65, 80, 80);}
<% end %>

<%# Page Header %>
<header id="header" class="row header currency">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">HTML Currency Symbols, Currency Entities and ASCII Currency Character Code Reference</h1><br>
    <p property="description">Looking for the Dollar sign code? An HTML Euro sign or Pound sign ASCII character? Look no further, listed below are all the HTML currency symbols you can handle, including HTML currency codes and ASCII currency codes for the Yen sign, Ruble sign and Yuan character plus a whole lot more. If you haven't yet, do take a look at our <%= link_to "&#9813; web design resources", "/resources/" %> for vector icons, UI kits, templates and our favorite website hosting services.</p>
  </div>

  <div class="col-xs-24 col-md-9 show-md">
    <!-- <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_0'></script> -->
    <!-- <a href="//www.bluehost.com/track/amdixon/htmlarrows" target="_blank">
      <%= image_tag("bh-ppc-banners-dynamic-300x250.png") %>
    </a> -->
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=htmlarrowscom" id="_carbonads_js"></script>
  </div>

</header>

<%# Page Content %>
<section id="index" class="row grid currency">

	<%= partial("partials/table") %>

	<% data.currency.entities.take(24).each do |entity| %>
		<%= partial("partials/entity_index", :locals => { :entity => entity }) %>
	<% end %>

  <!-- <div class="col-sm-24 text-sm-center show-sm" style="margin:2.25em 0;">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_3'></script>
  </div> -->

  <% data.currency.entities.drop(24).each do |entity| %>
    <%= partial("partials/entity_index", :locals => { :entity => entity }) %>
  <% end %>

</section>

<%# Page Description %>
<section class="row text">
  <div class="col-xs-24 col-md-12">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Currency", "http://htmlarrows.com/currency/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>