---
typeof: CollectionPage
title: Web Design Resources — HTML Arrows
description: Browse our hand-picked collection of web design resources including Wordpress themes; domain, hosting and typography providers; stock photography and icons.
image: htmlarrows-arrows-hero.jpg
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("meta/meta_index") %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(50, 50, 50);}
<% end %>

<%# Page Content %>
<section id="index" class="row resources">

	<% data.resources.themes.each do |resource| %>
		<%= partial("partials/resource_index", :locals => { :resource => resource }) %>
	<% end %>

</section>

<%# Page Description %>
<br><br>
<section class="row text html-resources">
  <div class="col-xs-24 col-md-9">
    <% link_to "http://htmlcolorcodes.com/", target: "_blank" do %>
      <%= image_tag("html-color-codes-picker-charts-names-tutorials-resources.jpg") %>
    <% end %>
  </div>

  <div class="col-xs-24 col-md-15">
    <h1 property="name">
      <%= link_to "HTML Color Codes", "http://htmlcolorcodes.com/" %>
    </h1>
    <h4>HTML Color picking made easy</h4>
    <br>
    <p>
      Similar to HTML Arrows, we built <%= link_to "HTML Color Codes", "http://htmlcolorcodes.com/" %> as a powerful set of free color tools accessible to everyone. We believe tools for design should be well designed themselves so we created from scratch a beautiful interface for selecting color codes, a comprehsive color chart, and a ton of resources related to color.
    </p>
  </div>

  <!-- <div class="col-xs-24 col-md-12">
    <p property="description">HTML, ASCII, CSS and Unicode hexadecimal values for HTML arrow characters and symbols in grid and table layouts. With all your favorites like the right arrow, up arrow, left arrow, down arrow, ordinal arrows and many others.</p>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div> -->
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %> &#8250;
    <span rel="v:child" typeof="v:Breadcrumb">
      <%= link_to "Arrows", "http://htmlarrows.com/arrows/", rel: "v:url", property: "v:title" %>
    </span>
  </span>
<% end %>