---
typeof: WebPage
title: HTML Symbol Codes and Entities — HTML Arrows
description: The most beautiful HTML arrows, currency and copyright symbols you will ever see, plus all those other pesky ASCII and HEX codes you can never remember.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(50, 50, 50);}
<% end %>

<%# Page Content %>
<section id="index" class="row grid home">

  <%= partial("partials/table") %>

	<% data.home.entities.each do |entity| %>
		<%= partial("partials/entity_home", :locals => { :entity => entity }) %>
	<% end %>

</section>

<%# Page Description %>
<section class="row text">
	<div class="col-xs-24 col-md-15">
		<h1 property="name">HTML Symbols, Entities, Characters, and Codes</h1>
	</div>
	<div class="col-xs-24 col-md-9 text-md-right">
    <% link_to "https://twitter.com/share?text=The%20most%20beautiful%20HTML%20symbol%20codes%20by%20@zeppelin_io%20%23htmlarrows%20%23useful", id: "twitter", class: "social-link", target: "_blank" do %>
      <%= image_tag("twitter-button-light.svg") %>
    <% end %>
    <% link_to "http://www.facebook.com/sharer/sharer.php?u=http://htmlarrows.com#{current_page.url}", id: "facebook", class: "social-link", target: "_blank" do %>
      <%= image_tag("facebook-button-light.svg") %>
    <% end %>
    <% link_to "https://plus.google.com/share?url=http://htmlarrows.com#{current_page.url}", id: "google", class: "social-link", target: "_blank" do %>
      <%= image_tag("google-button-light.svg") %>
    <% end %>
  </div>
	<div class="col-xs-24 col-md-12">
    <p property="description">HTML Arrows is a clean and comprehensive resource for all the hottest HTML symbols, entities, ASCII characters and Unicode hexadecimal values.</p>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@zeppelin.io", "mailto:alex@zeppelin.io", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %>
  </span>
<% end %>