---
typeof: WebPage
title: HTML Symbols, Entities, Characters and Codes — HTML Arrows
description: Easily find HTML symbols, entities, characters and codes with ASCII, HEX, CSS and Unicode values for HTML arrow, ASCII arrow, and more in grid or table format.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial "meta/meta_index" %>
<% end %>

<%# Colors %>
<% content_for :stylesheets do %>
	article {background-color: rgb(50, 50, 50);}
<% end %>

<%# Page Header %>
<header id="header" class="row header home">
  <div class="col-xs-24 col-md-15">
    <h1 property="name">A delightful reference for HTML Symbols, Entities and ASCII Character Codes</h1><br>
    <p property="description">HTML Arrows is a comprehensive reference website for finding HTML symbol codes and entities, ASCII characters and Unicode hexadecimal values to use in your web design. Browse in grid or table format, search for HTML symbols, and check out our <%= link_to "&#9813; web design resources", "/resources/" %> for some sweet deals on web hosting, WordPress templates and more! Or just keep scrolling to find your favorite HTML arrow symbol, arrow entity, Unicode and ASCII arrow character codes.</p>
  </div>

  <div class="col-xs-24 col-md-9 show-md">
    <!-- <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_0'></script> -->
    <!-- <a href="//www.bluehost.com/track/amdixon/htmlarrows" target="_blank">
      <%= image_tag("bh-ppc-banners-dynamic-300x250.png") %>
    </a> -->
    <!-- <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=htmlarrowscom" id="_carbonads_js"></script> -->
    <a href="http://treehouse.7eer.net/c/232362/230397/3944"><img src="http://adn.impactradius.com/display-ad/3944-230397" border="0" alt="" width="300" height="250"/></a>
<img height="0" width="0" src="http://treehouse.7eer.net/i/232362/230397/3944" style="position:absolute;visibility:hidden;" border="0" />
  </div>

</header>

<%# Page Content %>
<section id="index" class="row grid home">

  <%= partial("partials/table") %>

	<% data.home.entities.take(24).each do |entity| %>
		<%= partial("partials/entity_home", :locals => { :entity => entity }) %>
	<% end %>

  <!-- <div class="col-sm-24 text-sm-center show-sm" style="margin:2.25em 0;">
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=68026_107559_3'></script>
  </div> -->

  <% data.home.entities.drop(24).each do |entity| %>
    <%= partial("partials/entity_home", :locals => { :entity => entity }) %>
  <% end %>

</section>

<%# Page Description %>
<section class="row text">
	<div class="col-xs-24 col-md-12">
    <%= partial("partials/social") %>
  </div>
  <div class="col-xs-24 col-md-12">
    <p>See something missing? Send us an email at <%= link_to "alex@dixonandmoe.com", "mailto:alex@dixonandmoe.com", style: "border-bottom: 1px solid" %> with suggestions for new additions or ideas on how to make the site better.</p>
  </div>
</section>

<%# Page Footer %>
<% content_for :breadcrumbs do %>
  <span typeof="v:Breadcrumb">
  	<%= link_to "Home", "http://htmlarrows.com/", rel: "v:url", property: "v:title" %>
  </span>
<% end %>